.container{
  text-align: center;
  padding: 0 0 1em 0;
}

.container h1{
  padding: 0 0 1em 0;
}

.artigo_titulo {
  padding: 0.2rem 0;
}

.artigo_titulo a:hover{
color:rgb(170, 111, 2);
}

.container ul li{
  list-style: none;
}