.container{
  border: 1px solid gray;
  width: 400px;
  /* max-width: 400px; */
  min-width: 300px;
  margin: 1rem auto;
  padding: 0 0 1rem 1rem;
}
.container h1{
  text-align: center;
  padding: 0.5em 0;

}
.container div{
  /* width:fit-content; */
  padding: 0.5rem 1rem ;
}
.container label {
  display: block;
  padding: 0.5rem 0;
  /* background-color: crimson; */
}

.container input{
  border: 1px solid gray;
  height: 2em;
  padding: 0.5em 1em;

  width: 90%;
}

.container button{
  width: 40% ;
  height: 2em;
  margin: 0.3rem ;
}

.container .mensagem_sucesso {
  color: rgb(13, 134, 0);
  font-weight: bold;
}

.container .mensagem_erro {
  color: red;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
}

/* tela pequena */
@media (max-width: 450px) {
  .container{
    width: 100%;
  }
  .container div{
    width: 100%;
  }
}