.artigo_titulo {
  padding: 1rem 0;
}



.artigo_titulo a:hover{
color:rgb(170, 111, 2);
}

.artigo_titulo p {
  color: #6a6a6a;
  font-size: 0.9em;
  padding: 0 0 0 1rem;
  text-align: justify;
}

.container ul li{
  list-style: none;
}